<h1>VBlog</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the VBlog! Click on the link below to activate your account(*Great to have ya*):
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>